---
# Wiki information
site_name: Release Engineering (SIG/Core) Wiki
site_url: https://sig-core.rocky.page
site_description: >-
  The wiki for Rocky Linux Release Engineering (SIG/Core)

# Repository
repo_url: https://git.resf.org/sig_core/wiki
repo_name: sig_core/wiki
edit_uri: edit/main/docs/

extra_css:
  - assets/extra.css

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: resf
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: resf-dark
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  highlightjs: true
  hljs_languages:
    - bash
    - python
    - yaml
    - perl
  features:
    - search.highlight
    - search.suggest
    - toc.integrate
    #- navigation.tabs
    #- navigation.tabs.sticky
    #- navigation.top
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - pymdownx.details # collapsable attributions
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

plugins:
  - autolinks
  - awesome-pages
  - git-revision-date-localized
  - search
  - macros:
      include_dir: docs/include
copyright: Copyright &copy; 2025 Rocky Enterprise Software Foundation
...
